body {
  background-color: white;
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(12, 12, 110);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
h2 {
  color: rgb(141, 48, 48);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5 .parrafo {
  font-family: sans-serif;
}
.contenedor {
  width: 100%;
  height: auto;
  margin: 20px;
  padding: 30px;
  border: 3px  solid;
}
nav ul {
  margin-top: 0;
  margin-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: rgb(126, 136, 150);
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
nav ul li a:hover {
  color: black;
}
footer {
  text-align: center;
  background-color: darkorange;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: justify;
  margin: 20px;
  padding: 10px;
  box-shadow: gray 2px 2px 5px;
}
