<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\css\flex.css">
</head>
<body>
    <div class="contenedor">

        <div class="item">
            <h1>titulo 1</h1>
            <p>parrafo 1</p>

        </div>

         <div class="item">
            <h1>titulo 1</h1>
            <p>parrafo 1</p>

        </div>

         <div class="item">
            <h1>titulo 1</h1>
            <p>parrafo 1</p>

        </div>

         <div class="item">
            <h1>titulo 1</h1>
            <p>parrafo 1</p>

        </div>
    </div>
    <form action="/procesar" method="POST">
        <label for="nombre" >Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="telefono">Telefono:</label>
        <input id="telefono" type="tel" name="telefono" placeholder="escribe aca telefono">
        <input type="submit" value="Enviar">
    </form>    
    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>