<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\css\flex.css">
</head>
<body>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        <li><a href="{{ url_for('productos') }}">Productos</a></li>        
        <li><a href="{{ url_for('flex') }}">Contacto</a></li>
      </ul>
    </nav>
    <h1 class="tituloF">Formulario de contacto</h1>      
    <form action="/procesar" method="POST" class="formulario">
        <label for="nombre" >Nombre:</label>
        <input type="text" id="nombre" name="nombre" required placeholder="Escribe tu nombre">
        <label for="telefono">Telefono:</label>
        <input id="telefono" type="tel" name="telefono" placeholder="Escribe tu telefono">
        <input type="submit" value="Enviar">
    </form>    
    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>