<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/estilos.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        <li><a href="{{ url_for('productos') }}">Productos</a></li>        
        <li><a href="{{ url_for('flex') }}">Contacto</a></li>
      </ul>
    </nav>
    <h1>Mi página web</h1>
    <h2>Servicios, Inmuebles, Muebles</h2>
    <div>
      <img class="logo" src="/static/img/colibri.png" alt="Logo Colibrí" />
      <p>Ofrecemos una amplia gama de servicios relacionados con la compra, venta y alquiler de inmuebles y muebles.
      Nuestro equipo de expertos está aquí para ayudarte a encontrar la mejor solución que se adapte a tus necesidades.
      Contamos con una extensa base de datos de propiedades y muebles de alta calidad, asegurando que siempre encuentres lo que buscas.
      Además, ofrecemos asesoramiento personalizado y soporte durante todo el proceso de compra o alquiler.
      Ven y visítanos para descubrir cómo podemos ayudarte a hacer realidad tus sueños inmobiliarios y de mobiliario EL COLIBRÍ.
      </p>
    </div>  
  </body>
</html>
