<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/estilos.css" />
  </head>
  <body>
    <a href="{{ url_for('flex') }}">Contacto</a><br />
    <a href="{{ url_for('productos') }}">productos</a>
    <a href="{{ url_for('grid') }}">Irrelevante2</a>

    <img src="static\img\colibri.png" alt="Foto de perfil" width="300" height="300" />
    <h1>Se lo Tengo</h1>
    <h2>Servicios, Inmuebles, Muebles</h2>
    <h3>Mi tercero titulo tercero</h3>
    <h4>titulo cuarto</h4>
    <div class="contenedor">
      <h4 class="secundaria">titulo secundario</h4>
    </div>
    <h5>titulo quinto</h5>
  </body>
</html>
